html,
body {
  margin: 0;
  background-color: #1e1e1e;
  color: ghostwhite;
}

body::-webkit-scrollbar,
snippet-list::-webkit-scrollbar {
  display: none;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

:root {
  --gray: #717172;
  --dark-gray: #323233;
}
