html,
body {
  margin: 0;
  background-color: #1e1e1e;
  color: var(--text-color);
}

body::-webkit-scrollbar,
snippet-list::-webkit-scrollbar {
  display: none;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #717172;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

:root {
  --gray: #717172;
  --dark-gray: #323233;
  --text-color: ghostwhite;
  --header-height: 51px;
  --header-height-offset: 26px;
}
