html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root, #monaco-container {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
}

#monaco-container {
  background-color: #1e1e1e;
  overflow: hidden;
}
