name: Create Release

on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v*"

jobs:
  release-for-macos:
    runs-on: macos-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn test
      - name: "Build the app for Mac (Intel)"
        run: yarn app:build:mac:x64
      - name: "Build the app for Mac (Arm)"
        run: yarn app:build:mac:arm64
      - name: Create release
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: "dist/fragmemo-*.dmg,dist/fragmemo-*-arm64.dmg,dist/fragmemo-*-mac.zip,dist/fragmemo-*-arm64-mac.zip"
          draft: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
